<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/style1.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
 crossorigin="anonymous"></script>
 <style>
    p{
        color:black;
    }

    .para
    {
        position:absolute;
        top:30%;
        left:10%;
    }

    .footer
    {
        position:absolute;
        margin-top:1200px;     

    }

    li{
        list-style-type: none;
    }


 </style>
</head>
<body>
    {{>header}}
    {{!-- <h1>Main page</h1> --}}
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="/css/car.jpg" class="d-block w-100" alt="..." style="height:550px; margin-top:10px" >   
                </div>
                <div class="para">
                    <h6 style="color:white;font-size:50px;">Rent The <br> Best Quality Car's</h6>
                    {{!-- <button class="btn btn-dark">Get Started</button> --}}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Book Now</button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:black">Sign Up Form</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/submit">
                                    <br>
                                    <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control"  onkeyup="check(name)">
                                    <div id="main1"></div>
                                    <br>
                                    <input type="email" id="email" name="email" placeholder="Enter your email address" class="form-control" onkeyup="check(email)">
                                    <div id="main2"></div>
                                    <br>
                                    <input type="text" id="phone" name="phone" placeholder="Enter your phone number" class="form-control" onkeyup="check(phone)">
                                    <div id="main3"></div>
                                    <br>
                                     <input type="text" id="password" name="password" placeholder="Enter your password" class="form-control" onkeyup="check(password)">
                                    <div id="main4"></div>
                                    <br>
                                     <input type="text" id="con_password" name="con_password" placeholder="Confirm Password" class="form-control" onkeyup="check(con_password)" >
                                    <div id="main5"></div>
                                    <br>
                                    <button id="submit" class="form-control btn btn-dark" >Submit</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
            
            
                </div>
                {{!-- <div class="carousel-item">
                <img src="/css/home_page2.png" class="d-block w-100" alt="..." style="height:550px; margin-top:10px">
                </div>
                <div class="carousel-item">
                <img src="/css/home_page.png" class="d-block w-100" alt="..." style="height:550px; margin-top:10px">
                </div> --}}
            </div>
            {{!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> --}}
        </div>
<br>

    {{!-- <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-4">
                <h2>Single Room</h2>
                <img src="/css/single_room.jfif" alt="">
                <div class="text">
                   <p>A room assigned to one person. May have <br>
                   one or more beds.
                    <br>
                    The room size or area of Single rooms are generally between 37 m<sup>2</sup> to 45 m<sup>2</sup>
                   </p>
                </div>
                <button class="btn btn-dark" onclick="render()">Book Now</button>
            </div>

            <div class="col-lg-4">
                <h2>Double Room</h2>
                <img src="/css/double_room.jfif" alt="">
                <br>
                <div class="text">
                   <p>A room assigned to two people. May have <br>
                  one or more beds.
                    <br>
                    The room size of area of Double rooms are generally between 40 m<sup>2</sup> to 45 m<sup>2</sup>
                   </p>
                </div>
                <button class="btn btn-dark" onclick="render1()">Book Now</button>
            </div>

            <div class="col-lg-4">
                <h2>Triple Room</h2>
                <img src="/css/triple_room.jfif" alt="">
                <br>
                <div class="text">
                   <p>A room that can accomodate three persons 
                    <br>and has been fitted with three twing beds.
                    <br>
                    The room size of area of Triple rooms are generally between 45 m<sup>2</sup> to 65 m<sup>2</sup>
                   </p>
                </div>
                <button class="btn btn-dark" onclick="render2()">Book Now</button>
            </div>           
        </div>
<br><br> --}}

            {{!-- <div class="row">
                <div class="col-lg-4">
                    <h2>Quad Room</h2>
                    <img src="/css/quad_room.jfif" alt="">
                    <div class="text">
                        <p>A room assigned to four people.May have 
                            <br>two or more beds.
                        <br>
                        The room size of area of Quad rooms are generally between 70 m<sup>2</sup> to 85 m<sup>2</sup>
                    </p>
                        
                    </div>
                    <button class="btn btn-dark" onclick="render3()">Book Now</button>
                </div>

                <div class="col-lg-4">
                    <h2>Twin Room</h2>
                    <img src="/css/Twin_room.jfif" alt="">
                    <br>
                    <div class="text">
                        <p>A room with two twin beds.May be 
                            <br>occupied by one or more people.
                        <br>
                        The room size of area of Twin rooms are 
                        <br>generally between 32 m<sup>2</sup> to 40 m<sup>2</sup>
                    </p>
                    
                    </div>
                    <button class="btn btn-dark" onclick="render4()">Book Now</button>
                </div>

                <div class="col-lg-4">
                    <h2>Double-double room</h2>
                    <img src="/css/double_double.jfif" alt="">
                    <br>
                    <div class="text">
                        <p>A room with two double beds.May be 
                            <br>occupied by one or more people.
                        <br>
                        The room size of area of Double-double 
                        <br>rooms are generally between 50 m<sup>2</sup> to 70 m<sup>2</sup>
                    </p>
                    </div>
                    <button class="btn btn-dark" onclick="render5()">Book Now</button>
                    <br><br>
                </div>                  
        </div>
<br><br> --}}
        {{!-- <div class="row">
                <div class="col-lg-4">
                    <h2>Mini Suite Room</h2>
                    <img src="/css/mini_suite.jfif" alt="">
                    <div class="text">
                    <p>A room with a bed and sitting area.
                        <br>
                        The room size of area of Mini Suite rooms 
                        <br>are generally between 60 m<sup>2</sup> to 80 m<sup>2</sup>
                    </p>
                    </div>
                    <button class="btn btn-dark" onclick="render6()">Book Now</button>
                </div>

                <div class="col-lg-4">
                    <h2>President Suite Room</h2>
                    <img src="/css/president_suite_room.jfif" alt="">
                    <br>
                    <div class="text">
                        <p>The most expensive President
                            suite is <br>available in one single hotel property.
                        <br>
                        The room size of area of Double-double rooms are generally between 80 m<sup>2</sup> to 350 m<sup>2</sup>
                    </p>
                    </div>
                    <button class="btn btn-dark" onclick="render7()">Book Now</button>
                </div>

                <div class="col-lg-4">
                    <h2>Connecting room</h2>
                    <img src="/css/connecting_room.jfif" alt="">
                    <br>
                    <div class="text">
                    <p>Rooms with individual entrance doors from outside and a connecting door between.
                        <br>
                        The room size of area of connecting rooms
                        <br> are generally between 30 m<sup>2</sup> to 50 m<sup>2</sup>
                    </p>
                    </div>
                    <button class="btn btn-dark" onclick="render8()">Book Now</button>   
                </div>    
        </div>
<br><br> --}}
        {{!-- <div class="row">
            <div class="container-fluid" style="background-color:whitesmoke">
        <br>
        <h2 style="text-align:center;color:black">Get in Touch</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="image">
                <img src="/css/Royal_Classic_Hotel.png" alt="" style="height:30px;width:30px;"><b style="font-size:20px;color:black">Royal Classic</b>
                </div>
                <div class="text">
                    <p style="color:black">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis neque quas 
                    expedita beatae pariatur perferendis dolorum adipisci sit soluta, assumenda totam! 
                    Debitis maiores reiciendis odit officia voluptates voluptas vitae dicta expedita, 
                    consectetur vel perferendis.</p>
                </div>
            </div>

             <div class="col-lg-3">
                <h3>CONTACT US</h3>
                <img src="" alt="" style="height:20px;width:20px"><p style="color:black">House No. 157,Road No 51,Udaypur Road,Kolkata,West Bengal</p>
                <img src="" alt="" style="height:20px;width:20px"><p style="color:black"> mycompany@gmail.com<br>support@mycompany.com</p>
                <img src="" alt="" style="height:20px;width:20px"><p style="color:black"> +000 000 00000 <br> +000 000 00000 </p>  
            </div>

             <div class="col-lg-3">
                    <h3>QUICK LINKS</h3> 
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Stuffs and Rooms</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>               
            </div> --}}

            {{!-- <div class="col-lg-3">
                <h3>COLLECTIONS</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="/css/single_room1.png" alt="" style="height:50px;width:80px;">
                    </div>
                     <div class="col-lg-4">
                        <img src="/css/double_room1.png" alt="" style="height:50px;width:80px;">
                    </div>
                     <div class="col-lg-4">
                        <img src="/css/triple_room1.png" alt="" style="height:50px;width:80px;">
                    </div>
                </div>
<br>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="/css/twin_room1.png" alt="" style="height:50px;width:80px;">
                    </div>
                     <div class="col-lg-4">
                        <img src="/css/quad_room1.png" alt="" style="height:50px;width:80px;">
                    </div>
                     <div class="col-lg-4">
                        <img src="/css/president_suite_room2.png" alt="" style="height:50px;width:80px;">
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
</div> --}}

{{>footer}}

<script>
    {{!-- function render()
    {
        location.replace("single_room");
    }

    function render1()
    {
        location.replace("double_room");
    }

    function render2()
    {
        location.replace("triple_room");
    }

    function render3()
    {
        location.replace("quad_room");
    }

    function render4()
    {
        location.replace("twin_room");
    }

    function render5()
    {
        location.replace("double_double_room");
    }

    function render6()
    {
        location.replace("mini_suite_room");
    }

    function render7()
    {
        location.replace("president_suite_room");
    }

    function render8()
    {
        location.replace("connect_room");
    } --}}


    function check()
        {
            var namefield = document.getElementById('name').value;
            var emailfield = document.getElementById('email').value;
            var phonefield = document.getElementById('phone').value;
            var passwordfield = document.getElementById('password').value;
            var con_passwordfield = document.getElementById('con_password').value;


            var name=false;
            var email=false;
            var phone=false;
            var password= false;
            var con_password = false;


            if(namefield == '')
            {
                document.getElementById('main1').innerHTML = 'empty';
                document.getElementById('main1').style.color = 'red';
            }

            else{
                document.getElementById('main1').innerHTML = '';
                name = true;

            }

            if(emailfield == '')
            {
                document.getElementById('main2').innerHTML = 'empty';
                document.getElementById('main2').style.color = 'red';
            }

            else{
                document.getElementById('main2').innerHTML = '';
                email = true;

            }

            if(phonefield == '')
            {
                document.getElementById('main3').innerHTML = 'empty';
                document.getElementById('main3').style.color = 'red';
            }

            else{
                document.getElementById('main3').innerHTML = '';
                phone = true;

            }

            if(passwordfield == '')
            {
                document.getElementById('main4').innerHTML = 'empty';
                document.getElementById('main4').style.color = 'red';
            }

            else{
                document.getElementById('main4').innerHTML = '';
                password = true;

            }

            if(con_passwordfield == '')
            {
                document.getElementById('main5').innerHTML = 'empty';
                document.getElementById('main5').style.color = 'red';
            }

            else{
                document.getElementById('main5').innerHTML = '';
                con_password = true;

            }


            if(name==false || email==false || phone==false || password==false || con_password == false)
            {
                document.getElementById('submit').disabled = true;
            }
            else
            {
                document.getElementById('submit').disabled = false;

            }
        }

        check();


</script>




</body>
</html>