.abc
{
    color:red;
}

.container
{
    height:300px;
    width:100vw;
}
.main
{
    border:2px solid black;
    height:550px;
    width:450px;
    display:block;
    margin:auto;
}

input
{
    width:100%;
    color:black;
    border:2px solid black;
    border-radius:5px;
}

.nav-item li{
    margin-left:200px;
}

